@(sortId: scala.Int, sorts: List[models.DishSort], dishes: List[models.Dish])

@import helper._

@mainadmin(Html("Pizza")) {
    <div class="row" id="menu-bar" xmlns="http://www.w3.org/1999/html">
        <div class="span12">
        @for(sort <- sorts.seq) {
            <a href="@routes.AdministrationController.indexadmin(sort.getId())">@sort.getName() &nbsp;&nbsp;&nbsp;</a>
        }
        </div>
    </div>

    <div class="row form-block1">
        <div class="span3">
            <img id="dish-image" src="@routes.Assets.at("images/default.jpg")" width="270px" height="180px"> <br>
            <input id="input-file" type="file" onchange="mapImage(this);" size="19%"/>
        </div>
        <div class="span8">
            <div class="form-inline form-horizontal">
                <nobr>Название&nbsp;&nbsp;<input class="input-medium"type="text" id="inputName" placeholder="Название"></nobr>
                <nobr id="block-weight">Масса&nbsp;&nbsp;<input class="span1" type="text" id="inputWeight" placeholder="0">&nbsp;г.</nobr>
                <nobr id="block-price">Цена&nbsp;&nbsp;<input class="span1" type="text" id="inputPrice" placeholder="0">&nbsp;руб.</nobr>
                <button class="btn" id="addDishButton">Добавить</button>
            </div>
            <div class="ingredients">
                Ингредиенты<br>
                <input class="input-block-level" type="text" id="inputIngredients">
            </div>
            <div class="description">
                Описание<br>
                <textarea class="input-block-level" rows="3" id="textareaDescription"></textarea>
            </div>
        </div>
        <img id="big-line" src="@routes.Assets.at("images/big-line.png")">
    </div>

    @for(dish <- dishes.seq) {
        <div class="row form-block2" id="@dish.getId()">
            <div class="span3">
                <img id="dish-image" src="@routes.Assets.at(dish.getPicturePath())" width="270px" height="180px"> <br>
                <input id="input-file" type="file" onchange="mapImage(this);" size="19%"/>
            </div>
            <div class="span8">
                <div class="form-inline form-horizontal">
                    <nobr>Название&nbsp;&nbsp;<input class="input-medium inputName"type="text" value="@dish.getName()"></nobr>
                    <nobr id="block-weight">Масса&nbsp;&nbsp;<input class="span1 inputWeight" type="text" value="@dish.getWeight()">&nbsp;г.</nobr>
                    <nobr id="block-price">Цена&nbsp;&nbsp;<input class="span1 inputPrice" type="text" value="@dish.getPrice()">&nbsp;руб.</nobr>
                    <button class="btn acceptDishButton" dish_id="@dish.getId()" value="@dish.getId()">Изменить</button>
                </div>
                <div class="ingredients">
                Ингредиенты<br>
                    <input class="input-block-level inputIngredients" type="text"value="@dish.getIngredients()">
            </div>
                <div class="description">
                Описание<br>
                <textarea class="input-block-level textareaDescription" rows="3">@dish.getDescription()</textarea>
            </div>
            </div>
        </div>
    }
}

<script type="text/javascript">
    $(document).ready(function() {
        $("body").on('click', '.acceptDishButton', function() {
            var id = $(this).attr("dish_id");
            //alert(id);
            var name = $("#id.inputName");
            alert(name);
            var newDish = {
                "name": $("#id.inputName"),
                "weight": $("#id.inputWeight")
            }

            var js = JSON.stringify(newDish);
            alert(js);

        });
    });


    function mapImage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#dish-image')
                .attr('src', e.target.result)
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
