@(title: Html, sum : scala.Int = 0)(content: Html)

@import helper._
@import controllers.routes.javascript._

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap/css/bootstrap.css")">
    </head>
    <body>
        <div class="container" style="position: relative; top: 15px;">
            <header>
                <div class="row">
                    <div class="span4">
                        <a href="/"><img src="@routes.Assets.at("images/logo.png")"></a>
                    </div>
                    <div class="span8">
                        <div class="row phone_number">
                            <p>+7 (473) 222-33-44</p>
                        </div>
                        <div class="row free_text">
                            <p>Доставка бесплатна</p>
                        </div>
                        <div class="row main_menu">
                            <div class="span12" id="header-menu">
                                <a href="/delivery" id="delivery">Доставка &nbsp;&nbsp;&nbsp;</a>
                                <a href="#">О компании &nbsp;&nbsp;&nbsp;</a>
                                <a href="#">Контакты &nbsp;&nbsp;&nbsp;</a>
                                <a href="/cart">Корзина &nbsp;&nbsp;&nbsp;</a>
                            </div>
                            <img src="@routes.Assets.at("images/line1.png")">
                        </div>
                        <div class="sum">
                            <p class="text-right">Сумма:</p>
                            <p class="text-right" id="sum">@sum руб.</p>
                        </div>
                    </div>
                </div>
            </header>

            @content

            <footer>
                <p class="text-center"><strong>Донских Артем и Манущева Алина, 2013</strong></p>
            </footer>
        </div>
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="@routes.Assets.at("stylesheets/bootstrap/js/bootstrap.min.js")"></script>
        <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
    </body>
</html>
